@import url(https://fonts.googleapis.com/css?family=Lato|Roboto+Mono);@import url(https://fonts.googleapis.com/css?family=Nosifer);@import url(https://fonts.googleapis.com/css?family=Knewave);@import url(https://fonts.googleapis.com/css?family=Emblema+One|Knewave);@import url(https://fonts.googleapis.com/css?family=Nosifer);@import url(https://fonts.googleapis.com/css?family=Knewave);@import url(https://fonts.googleapis.com/css?family=Emblema+One|Knewave);@import url(https://fonts.googleapis.com/css?family=Nosifer);@import url(https://fonts.googleapis.com/css?family=Knewave);@import url(https://fonts.googleapis.com/css?family=Emblema+One|Knewave);@import url(https://fonts.googleapis.com/css?family=Nosifer);@import url(https://fonts.googleapis.com/css?family=Knewave);@import url(https://fonts.googleapis.com/css?family=Emblema+One|Knewave);* {
  position: static;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

form *:focus {
  border: none;
  outline: none;
}

span,
strong,
em,
i {
  display: inline;
}

html head,
html script,
html link {
  display: none;
}

html body {
  padding: 0.5em;
  background: #fff;
}

@media screen and (min-width: 900px) {
  .app {
    width: 900px;
    margin: 0 auto;
  }
}

.header {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.header .logo {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.header .logo h1 {
  color: #000;
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;
  font-family: "Knewave", cursive;
  text-shadow: 2px 2px #fff;
}

.header .logo h1 .flip {
  color: #abc;
}

.header .nav {
  padding: 0.5em;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border: 2px solid black;
}

.header .nav a {
  font-family: "Roboto Mono", monospace !important;
}

.header .nav li {
  display: inline-block;
  width: calc(50% - 0.25em);
  margin: 0.125em;
}

.header .nav li.selected a {
  background: #47474b !important;
  color: #26262b !important;
  color: white !important;
}

.header .nav li a {
  color: #26262b;
  background: #8896a3;
  padding: 0.25em;
  text-align: center;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.header .nav li a:hover {
  background: #555e66;
  color: #abc;
}

.header .nav li a:active {
  color: #26262b;
  background: #77affa;
}

@media screen and (min-width: 700px) {
  .header {
    height: 7em;
  }

  .header main {
    height: 100%;
  }

  .header .logo,
  .header .nav {
    float: left;
    height: 100%;
  }

  .header .logo {
    width: calc(60% - 0.5em);
    margin-right: 0.5em;
  }

  .header .logo h1 {
    padding-top: 0.5em;
    text-align: center;
    height: 100%;
  }

  .header .nav {
    width: 40%;
  }
}

@media screen and (min-width: 900px) {
  .header {
    height: 4.25em;
  }

  .header .logo {
    padding: 0;
    width: 40%;
  }

  .header .logo h1 {
    padding: 0;
    text-align: left;
  }

  .header .nav {
    width: calc(60% - 0.5em);
    padding: 0;
  }

  .header .nav ul {
    height: 100%;
    padding-left: 0.25em;
  }

  .header .nav ul li {
    width: calc(25% - 4px);
    height: calc(100% - 4px);
    padding: 0.25em 0.25em 0.25em 0;
  }

  .header .nav ul li a {
    height: 100%;
  }
}

.landing .featured {
  height: 15em;
  padding: 1em;
  margin-bottom: 0.5em;
  background: #77affa;
}

.landing .spotlight {
  height: 10em;
  margin-bottom: 0.5em;
}

.landing .spotlight .one,
.landing .spotlight .two,
.landing .spotlight .three {
  float: left;
  width: calc((100%  - 1em) / 3);
  height: 100%;
  padding: "Roboto Mono", monospace;
}

.landing .spotlight .one main,
.landing .spotlight .two main,
.landing .spotlight .three main {
  height: 100%;
}

.landing .spotlight .one {
  background: #eee;
  margin-right: 0.5em;
}

.landing .spotlight .one main {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px dashed white;
  border-left: 2px solid white;
}

.landing .spotlight .two {
  background: #abc;
  margin-right: 0.5em;
  border-radius: 0 0 1em 0;
}

.landing .spotlight .three {
  background: #cab;
  box-shadow: 1em 1em #000;
}

.landing .game {
  height: 25em;
  background: #26262b;
  margin-bottom: 0.5em;
}

.landing .gallery {
  height: 20em;
  width: 60%;
  margin-bottom: 1.5em;
  background: #ff7a7a;
  box-shadow: -1em 1em #000;
}

.toy {
  background: url("https://s3-us-west-2.amazonaws.com/slugbyte-assets/toy-thumb.png") !important;
}

.toy * {
  font-family: "Roboto Mono", monospace;
  text-shadow: 4px 4px 40px black;
  color: #fff;
  font-weight: bolder;
}

.toy h1 {
  font-size: 2em;
  font-family: "Knewave", cursive;
}

.toy h1,
.toy p {
  background: rgba(0, 0, 0, 0.8);
  padding-left: 0.5em;
}

.toy p {
  padding-bottom: 0.5em;
}

.toy h2 {
  font-size: 1.8em;
  text-align: right;
}

.toy h3 {
  font-size: 1.5em;
  text-align: right;
}

.spotlight div main {
  text-align: center;
}

.spotlight div main h1 {
  padding: 0;
  font-family: "Knewave", cursive;
  font-size: 2.5em;
}

.spotlight div.one {
  padding: 1em;
}

.spotlight div.two h1 {
  font-size: 4em;
}

.spotlight div.three * {
  text-align: right !important;
  padding-right: 0.5em;
}

